aiml==0.8.6
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
certifi==2017.7.27.1
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.14
tornado==4.5.2
Werkzeug==0.12.2
